<ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link " aria-current="page" href="/transaction">Transaction History <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="black" class="bi bi-clock-history" viewBox="0 0 16 16">
        <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z"/>
        <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z"/>
        <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
      </svg></a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn" (click)="delete()" >Delete Account <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="black" class="bi bi-trash" viewBox="0 0 16 16">
        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
      </svg></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)=logout()>Logout <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="black" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
      </svg></a>
    </li>
    
  </ul>
<!--Delete named child selector-->
<app-deleteconfirm (onDelete)="onDelete($event)" (onCancel)="cancel()" [item]="acno"></app-deleteconfirm>


<div class="row" [ngClass]="acno?'cc':''">
    <h3 class="text-center">Welcome {{user}}</h3>
    
   
    <div class="col-6" >
        <!--deposit form-->
        <form (ngSubmit)="deposit()" [formGroup]="depositForm" class="mt-5 p-5 border" >
            
            <h4 class="text-center">Deposit Form</h4>
            <div>
                <label for="accno">Account Number</label>
                <input name="acno" formControlName="acno" type="text" placeholder="Account Number" class="form-control" id="accno">
            </div>
            <div *ngIf="this.depositForm.get('acno')?.touched&&this.depositForm.get('acno')?.errors" style="color:red ;">
                 Invalid Account Number!
            </div>
            <div>
                <label for="pwd">Password</label>
                <input name="pswd" type="password" formControlName="pswd" placeholder="Password" class="form-control" id="pwd">
                
            </div>
            <div *ngIf="this.depositForm.get('pswd')?.touched&&this.depositForm.get('pswd')?.errors" style="color:red ;">
                Invalid Password!
           </div>
           <div>
            <label for="amount">Amount</label>
            <input name="amount" formControlName="amount" type="text" placeholder="Amount" class="form-control" id="amount">
        </div>
        <div *ngIf="this.depositForm.get('amount')?.touched&&this.depositForm.get('amount')?.errors" style="color:red ;">
            Invalid Amount
        </div>
            <div>
                <button type="submit" class="btn btn-primary mt-2 ">Deposit</button>
            </div>
        </form>
    </div>
    <div class="col-6">
                <!--withdraw form-->
                <form (ngSubmit)="withdraw()" [formGroup]="withdrawForm" class="mt-5 p-5 border" >
            
                    <h4 class="text-center">Withdraw Form</h4>
                    <div>
                        <label for="accno">Account Number</label>
                        <input name="acno" formControlName="acno" type="text" placeholder="Account Number" class="form-control" id="accno">
                    </div>
                    <div *ngIf="this.withdrawForm.get('acno')?.touched&&this.withdrawForm.get('acno')?.errors" style="color:red ;">
                         Invalid Account Number!
                    </div>
                    <div>
                        <label for="pwd">Password</label>
                        <input name="pswd" type="password" formControlName="pswd" placeholder="Password" class="form-control" id="pwd">
                        
                    </div>
                    <div *ngIf="this.withdrawForm.get('pswd')?.touched&&this.withdrawForm.get('pswd')?.errors" style="color:red ;">
                        Invalid Password!
                   </div>
                   <div>
                    <label for="amount">Amount</label>
                    <input name="amount" formControlName="amount" type="text" placeholder="Amount" class="form-control" id="amount">
                </div>
                <div *ngIf="this.withdrawForm.get('amount')?.touched&&this.withdrawForm.get('amount')?.errors" style="color:red ;">
                    Invalid Amount
                </div>
                    <div>
                        <button type="submit" class="btn btn-primary mt-2 ">Withdraw</button>
                    </div>
                </form>
    </div>
</div>

